<!DOCTYPE html>
<html>
  <head>
    <title>Fotoplr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <% if current_user %>
        <p>Hello, <%= current_user.email %></p>
        <%= button_to "Sign Out", session_url, method: :delete %>
      <% else %>
        <%= button_to "Sign In", new_session_url, method: :get %>
        <%= button_to "Sign Up", new_user_url, method: :get %>
      <% end %>
    </header>

    <%= yield %>
    
  </body>
</html>
